a { color:purple;
  text-decoration: none;
    font-family:monospace;
}
.hovertext a{
  color:white;
    transition: color 1s;
}
body {    
    background-size: cover;
    color:white;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    
}
.linktext a {
    font-weight: bold;  
}
.hovertext a:hover
{
    color: #5d9599;
}

.linktext {
    text-align: center;
    font-size: 100%;
}
