a { color:red;
  text-decoration: none;
}
.hovertext a{
  color:red;
    transition: color 1s;
}
body {    
    background-size: cover;
    color:white;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif, Futura;
    
}
.linktext a {
    font-weight: bold;  
}
.hovertext a:hover
{
    color: #5d9599;
}

.linktext {
    text-align: center;
    font-size: 130%;
}
.center {
  text-align: center;
}
